body {
  background-color: turquoise;
}

.head {
  /* border: 1px solid black; */
  width: 50%;
  margin: auto;
  font-weight: 900;
}

#main {
  /* border: 1px solid black; */
  margin-top: 50px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}
#left {
  border: 1px solid black;
  padding: 25px;
  border-radius: 50px;
  cursor: pointer;
  /* display: inline; */
  /* float: left; */
}
#right {
  border: 1px solid black;
  padding: 25px;
  border-radius: 50px;
  cursor: pointer;

  /* display: inline; */
  /* float: right; */
}
